<%
    if !session[:user_id]
        controller.redirect_to root_url
    end
    if session[:username] != "admin"
        controller.redirect_to bookings_url
    end
%>
<div class="pt-3 pb-1">
    <h3 class="text-uppercase font-weight-bolder">Recent Activities</h3>
</div>
<hr>
